body {
  background-color: white;
}

h1 {

}

p {
  font-style: oblique;
}

a {
  color: blue;
 }

 a:hover {
    background-color: black;
    color: white;
  }

.title {
  text-indent: 30%;
  padding: 24px 0px;
}

.navigation{
  padding: 10px 80px;
}