body {
  background-color: white;
}

h1 {
  
}

h2 {
  text-align: center;
  color: white;
  background-color: black;
}

h3{
  text-align: center;
  color: aqua;
  background-color: black;
  margin-left: 30%;
  margin-right: 30%;
}

p {
  
}

a {
  color: blue;
 }

 a:hover {
    background-color: black;
    color: white;
    font-size: 18px;
  }

.title {
  text-indent: 30%;
  padding: 24px 0px;
}

.navigation{
  padding: 10px 80px;
}

.paragraph {
  font-style: oblique;
}

.deinfo {
  color: chartreuse;
  background-color: black;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}

.funfacts {
  text-indent: 80%;
}

.facts {
  margin-right: 80%;
}

.question {
  background-color: black;
  color: chartreuse;
  font-size: 36pz;
  font-style: oblique;
}

.resources{
  margin-top: 350px;
}